/* DarkButton.css */

.dark-theme-toggle {
  background-color:#fff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  z-index: 99999999; /* Asegúrate de que el botón tenga un z-index superior a 0 */
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99999999999; /* Asegúrate de que el video tenga un z-index menor que el botón */
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: fill; 
  z-index: -9999;
}
