/dist

.DS_Store
/uploads

yarn-error.log

# Ignorar archivos generados por Node.js
node_modules/

# Ignorar archivos de configuración locales
.env

# Ignorar archivos de configuración específicos de tu entorno
config.js

# Ignorar el archivo package-lock.json para proyectos con npm
package-lock.json

# Ignorar archivos de registro
logs/
*.log

# Ignorar archivos generados por tu IDE o editor de código
.vscode/
.idea/

# Ignorar archivos de dependencias de Sequelize
/migrations/
/models/
/seeders/

# Ignorar archivos de configuración de base de datos locales
config/database.json
