.search-bar {
  width: 25px; /* Ancho inicial */
  overflow: hidden;
  transition: width 0.3s ease; /* Agrega una transición para suavizar el cambio de ancho */
}

.search-bar.expanded {
  width: 200px; /* Ancho expandido */
}
.icon-container {
  color: #fff;
  font-size: large;
  margin-top: 1.5em;
}
.icon-container:hover {
  color: #f20519;
  font-weight: 800;
}
.search-input {
  background-color: whitesmoke;
  border-radius: 4px;
  margin-top: 26px;
  height: 20px;
}
