.terms-container{
    margin-top: 200px;
    margin-left: 20px;
   
        
}

.terms-article{
    gap: 3px;
}

h2{
    text-align: center;
}


h4{
    color: #fff;
    font-size: 15px;
    margin-bottom: -7px;
}

.paragraph{
    color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 12px;    
}

.terms-text{
    display: flex;
    justify-content: flex-start;
}