.wish-container {
  display: flex;
  flex-direction: column;
  margin-top: 170px;
  height: 100%;
  width: 100vw;
  z-index: 99999999999999;
}

.tarjeta-padre {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
  border-radius: 28px;
  width: 100vh;
  z-index: 99999999999999;
}

.tarjeta {
  background-color:antiquewhite;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 99999999999999;
  margin: 10px auto; /* Ajusta según sea necesario */
}

.wish-img {
  width:auto;
  height: 8em;
  border-radius: 18px;
  z-index: 99999999999999;
}
.wish-subtile {
  color: red;
  font-weight: bolder;
  font-size: 2em;
  margin-left: 1em;
  z-index: 99999999999999;
}

.wish-price {
  color: red;
  font-weight: bolder;
  font-size: 2em;
  margin: auto;
  margin-left: 2em;
  z-index: 99999999999999;

}

.button-basura {
  background-color: green;
  flex-direction: column;
  align-items: flex-end;
  z-index: 99999999999999;


} 

.button-like {
  background-color: blue;
  flex-direction: column;
  align-items: left;
  z-index: 99999999999999;
 
}



.contenedor-btn{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around ;
  background-color: green;
  margin-bottom: 7vh;
  z-index: 99999999999999;
}

.logo-basura {
  background-color: red;
  z-index: 99999999999999;
}
.logo-basura:hover {
  background-color: blue;
  z-index: 99999999999999;
}

.logo-like{
  background-color: red;
  z-index: 99999999999999;
}
.logo-like:hover {
  background-color: green;
  z-index: 99999999999999;
}